
<section class="mt-4 mb-4">
  <div class="max-w-7xl mx-auto">
    <h2 class="text-3xl font-bold text-gray-800 text-center">
      Contact Page
    </h2>

    <p class="text-center text-gray-600 mt-4">
      user.support@example.com
    </p>
  </div>
</section>
